@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">~~~Wedding Planner💍~~~</h1>
    <div class="container d-flex justify-content-around">
        <div>
            <h1>Sign Up</h1>
            @await Html.PartialAsync("_UserForm")
        </div>

        <div>
            <h1>Login</h1>
            @await Html.PartialAsync("_LoginForm")
        </div>
    </div>
</div>
